<div class="header__container">
    <div class="header__content">
        <img class="header__img" src="../../../assets/images/headerLogo.png">
        <div class="header__menu">
            <a href="/clients" class="header__menuItem" [ngClass]="{'header__selectedMenuItem': selectedTab === '/clients'}" class="header__menuItem">Clients</a>
            <a href="/transactions" class="header__menuItem" [ngClass]="{'header__selectedMenuItem': selectedTab === '/transactions'}" class="header__menuItem">Transactions</a>
            <a href="/extracts" class="header__menuItem" [ngClass]="{'header__selectedMenuItem': selectedTab === '/extracts'}" class="header__menuItem">Extracts</a>
        </div>
    </div>
</div>
